/* colors */
$pink: #FFF5DB;
$brown: #331F00;


/* font families */
$ff-sans: 'Raleway', sans-serif;
$ff-serif: 'Quattrocento', serif;

/* font size */
$font-size-reg: 22px;
$font-size-h1: 82px;
$font-size-pres: 28px;
$font-size-link: 36px;
$font-size-link: 20px;

/* line-height */
$line-height-reg: 1.25;
$line-height-pres: 1.7;