/* colors */
$pink: #FFF5DB;
$brown: rgb(51, 31, 0, 0.8);


/* font families */
$ff-sans: 'Raleway', sans-serif;
$ff-serif: 'Quattrocento', sans-serif;

/* font size */
$font-size-reg: 18px;
$font-size-h1: 72px;
$font-size-pres: 28px;
$font-size-link: 28px;

/* line-height */
$line-height-reg: 1.6;
$line-height-pres: 1.7;