/* colors */
$pink: #FFF5DB;
$brown: #331F00;


/* font families */
$ff-sans: 'Raleway', sans-serif;
$ff-serif: 'Quattrocento', serif;

/* font size */
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

/* line-height */
$line-height-sm: 1.25;
$line-height-md: 1.5;